
/* .mobile-nav {
   background-color: var(--blue-bg);
   height: 1000px;
   width: 100%;
   z-index: 5;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
} */

.mobile-nav {
   position: fixed;
   z-index: 5;
   background-color: var(--blue-bg);
   min-height: 100vh;
   width: 100%;
   text-align: center;
   overflow-x: hidden;
   top: 0;
   /* left: 0; */
   right: 0;
   bottom: 0;
}


.mobile-nav ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
