@import "reset.css";
@import "fonts.css";

/* Color pallete ---------------------------------- */
:root {
   /*text*/
   --main-txt: #3c3c3c;
   --cream-txt: #f8f7f2;
   --nav-active: #bab48f;
   --footer-text: #d8d48e;

   /*backgrounds*/
   --blue-bg: #257282;
   --cream-bg: #f8f7f2;
   --black-bg: #3c3c3c;
   --orange-bg: #d99a45;

   /*form*/
   --form-placeholder-txt: #3f91a2;
   --form-input-bg: #185663;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   overflow: hidden;
   padding: 100px 30px 0;
}
.flex {
   display: flex;
   align-items: center;
}
.in-between {
   max-width: 860px;
   text-align: center;
   margin: 0 auto;
}

/* Grids */




/* Text styles */
a,
h1,
h2,
h3 {
   font-family: 'Fira Sans', sans-serif;
}

a {
   font-size: 13px;
   font-weight: 500;
   letter-spacing: .08em;
   text-decoration: none;
}

h1 {
   font-size: 48px;
   font-weight: 100;
   line-height: 1.2em;
   color: var(--main-txt);
   margin-bottom: 20px;
}
h2 {
   font-weight: 300;
   font-size: 30px;
   line-height: 1.3em;
}
h3 {
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: .05em;
   margin-bottom: 30px;
}
p {
   font-family: 'Fira Sans', sans-serif;
   font-size: 15px;
   line-height: 1.3em;
}

/* Buttons */
.btn-white {
   text-align: center;
   text-transform: uppercase;
   color: var(--cream-txt);
   border: 2px solid var(--cream-txt);
   padding: 10px;
}


/* Header */
#header {
   margin-top: 20px;
   position: absolute;
   z-index: 5;
   width: 100%;
   overflow: hidden;
}
#header .inner {
   overflow:hidden;
   max-width: 1100px;
   margin: 0 auto;
   overflow: hidden;
}
#header .flex {
   justify-content: space-between;
}
#header .alt {
   background-color: transparent;
   position: absolute;
   top: 1.5em;
   overflow: hidden;
}
#header #nav {
   display: flex;
   align-items: center;
}
#header ul {
   display: flex;
}
#header .logo img {
   height: 60px;
}
#header nav a {
   padding: 10px 10px;
   margin: 0 6px;
   text-transform: uppercase;
   color: var(--cream-txt);
}
#header .nav-btn {
   border: 2px solid var(--cream-txt);
   border-radius: 2px;
   padding: 7px 9px;
   margin-left: 12px;
   text-transform: uppercase;
}
#header .nav-btn a {
   color: var(--cream-txt);
}

#nav .current {
   font-weight: 800;
   color: var(--nav-active);
}


/* Banner Section */
#banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 2em 0 4em 0;
   background-image: url(../images/Group.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   height: 100vh;
}
/*for overlay*/
#banner:before {
   content:'';
   background-color: var(--black-bg);
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   opacity: 0.8;
   top: 0;
   z-index: 1;
}
#banner .inner {
   max-width: 500px;
   padding: 20px;
   z-index: 5;
}
#banner h1, p {
   color: var(--cream-txt);
}
#banner p {
   font-family: 'Segoe Script', sans-serif;
   font-size: 19px;
   line-height: 1.6em;
   letter-spacing: .02em;
}


/* Mission Section */
#mission {
   background-color: var(--cream-bg);
   padding: 100px 30px 0;
   /* height: 100vh; */
   height: 650px;
}
/* .container {
   max-width: 1100px;
   margin: 0 auto;
   overflow: hidden;

} */
#mission .gallery {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
   border-radius: 5px;
   padding: 0;
   margin: 100px auto 0;

}
#mission .btw-img:nth-child(1) {
   border-top-left-radius: 5px;
}
#mission .btw-img:nth-child(2) {
   border-top-right-radius: 5px;
}
#mission .btw-img:nth-child(3) {
   border-bottom-left-radius: 5px;
}
#mission .btw-img:nth-child(4) {
   border-bottom-right-radius: 5px;
}
#mission .gallery .btw-img {
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}
#mission .gallery .btw-img img {
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}




/* Request Section */
#request {
   background-color: var(--blue-bg);
   height: 700px;
}
#request .inner {
   /* padding-top: 400px; */
   position: relative;
   /* top: 400px; */
   color: var(--cream-txt);
}
