@import "reset.css";
@import "fonts.css";

/* Color pallete ---------------------------------- */
:root {
   /*text*/
   --main-txt: #3c3c3c;
   --cream-txt: #f8f7f2;
   --nav-active: #bab48f;
   --footer-text: #d8d48e;

   /*backgrounds*/
   --blue-bg: #257282;
   --cream-bg: #f8f7f2;
   --black-bg: #3c3c3c;
   --orange-bg: #d99a45;

   /*form*/
   --form-placeholder-txt: #307786;
   --form-input-bg: #185663;
   /* --form-placeholder-txt: #3f91a2; */
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   overflow: hidden;
   padding: 0 40px;
}
.flex {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   height: 100%;
}

a {
   font-family: 'Fira Sans', sans-serif;
   font-size: 14px;
   color: #3c3c3c;
   letter-spacing: .01em;
   text-decoration: none;
   text-transform: uppercase;
}
.current {
   font-weight: 700;
}

h1 {
   font-family: 'Segoe Script', sans-serif;
   color: var(--cream-txt);
   line-height: 1.5em;
   font-size: 20px;
}

/* Header  -----------------------------------*/
header .flex {
   justify-content: space-between;
}
.navbar {
   display: flex;
   justify-content: flex-end;
}
.logo img {
   width: 250px;
}

/* Banner  -----------------------------------*/
.banner {
   background-image: url(../images/simon-follin-wFji3OS5us0-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 400px;
}
.banner .banner-inner {
   max-width: 325px;
}



/* Media Queries -----------------------------------*/

@media screen and (max-width: 500px) {

}
