@import "reset.css";
@import "fonts.css";

/* Color pallete ---------------------------------- */
:root {
   /*text*/
   --main-txt: #3c3c3c;
   --cream-txt: #f8f7f2;
   --nav-active: #bab48f;
   --footer-text: #d8d48e;

   /*backgrounds*/
   --blue-bg: #257282;
   --cream-bg: #f8f7f2;
   --black-bg: #3c3c3c;
   --orange-bg: #d99a45;

   /*form*/
   --form-placeholder-txt: #3f91a2;
   --form-input-bg: #185663;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   overflow: auto;
}
.flex {
   display: flex;
   align-items: center;
}

/* Text styles */
a {
   font-family: 'Fira Sans', sans-serif;
   font-size: 13px;
   font-weight: 400;
   letter-spacing: .01em;
   text-decoration: none;
}
.current {
   font-weight: 600;
   /* color: var(--nav-active); */
}
h1 {
   font-family: 'Fira Sans', sans-serif;
   font-size: 42px;
   font-weight: 400;
}

/* Header */
#header {
   margin-top: 20px;
}
#header .flex {
   justify-content: space-between;
}
#header #nav {
   display: flex;
   align-items: center;
}
#header ul {
   display: flex;
}
#header .logo img {
   height: 60px;
}
#header nav a {
   padding: 10px 5px;
   margin: 0 6px;
   text-transform: uppercase;
   color: var(--main-txt);
}
#header .nav-btn {
   border: 2px solid var(--main-txt);
   border-radius: 2px;
   padding: 7px 9px;
   text-transform: uppercase;
}

/* Banner */
#banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 8em 0 6em 0;
   background-image: url(../images/Group.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   height: 100vh;
}
